<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comedy Hour</title>
  </head>
  <body>
    <h1>Comedy Hour</h1>
    <% pageData.map((page, index) => { %>
    <a href="<%= page.href %>"><%= page.name %></a>
    <% }) %>
  </body>
</html>
